body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}



.title {
    position: absolute;
    font-family: 'sans-serif';
    font-size: 6em;
    color: darkgreen;
    transform: translateZ(-10px) scale(.8);
}



.subtitle {
    position: absolute;
    font-family: 'sans-serif';
    font-size: 3em;
    color: brown;
    transform: translateZ(-20px) translateY(-100px) scale(.8);

}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 80px;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -4;
}

.bg {
    transform: translateZ(-80px) scale(4);
}

.distant-clouds {
    transform: translateZ(-70px) scale(3);
    top: 10%;
}

.clouds {
    transform: translateZ(-60px) scale(2);
    top: 20%;
}

.mountains {
    transform: translateZ(-50px) scale(2);
    top: 30%;
}

.bushes {
    transform: translateZ(-40px) scale(3);
    top: 40%;
}

.hill {
    transform: translateZ(-30px) scale(2.5);
    top: 50%;
}

.distant-trees {
    transform: translateZ(-20px) scale(2);
    top: 60%;
}

.ground {
    transform: translateZ(-10px) scale(1.5);
    top: 70%;
}



.bg,
.distant-clouds,
.clouds,
.mountains,
.bushes,
.hill,
.distant-trees,
.ground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


#harrypotter {
    position: absolute;
    width: 150px;
    transition: width 2s;

}


#harrypotter:hover {
    width: 350px
}

#harrypotter {
    position: relative;
    animation: moveharry 3s linear 1s infinite alternate;
}

@keyframes moveharry {
    0%   {left:0px; top:0px; width: 50px}
    25%  {left:200px; top:0px; width: 150px}
    50%  {left:0px; top:200px; width: 300px}
    75%  {left:200px; top:300px;width: 350px}
    100% {left:0px; top:0px;}
}

body{
    background: linear-gradient(to bottom right, #0c3ca5 ,#00103d);
    height:100vh;
}
.container{
    background: linear-gradient(to bottom right, #131e35 ,#3f3a81);
    height:85vh;
    width:70vw;
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
}
.rain{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-image: url("https://cdn.discordapp.com/attachments/744182992037216260/990016273008177242/rain1.png"),
    url("https://cdn.discordapp.com/attachments/744182992037216260/990016273217900584/rain2.png"),
    url("https://cdn.discordapp.com/attachments/744182992037216260/990016273456988240/rain3.png");

    animation: snow 1.5s linear  infinite ;
}
@keyframes snow {
    0% {
        background-position: 0 0, 0 0, 0 0;
    }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}


#car {
    width: 80px;
}




